:root {
  --main-bg-color: #1a191f;
  --black: #222028;
  --yellow: #f9ab00;
  --green: #29b474;
  --red: #eb5757;
}

html,
body {
  background-color: var(--main-bg-color);
  font-family: "Source Sans Pro", sans-serif;
}

* {
  box-sizing: border-box;
  color: white;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
}

input,
input:focus {
  outline: none;
}

button,
button:focus {
  outline: none;
}